/* reset */
* {
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 100%;
  margin: 0;
}
/* header design */
header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px 50px;
  box-shadow: lightgrey 0 0 8px 0;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  flex-basis: 35%;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  text-transform: uppercase;
}
.logo {
  height: 60px;
}

/* INFO SECTION banner design */
.info {
  display: flex;
/*   flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
/*   margin-top: 3px; */
  background-color: #f9f9f9;
/*   padding:  80px 50px 0 50px; */
  height: 100vh;
}
.banner {
/*   padding-top: 20px; */
  text-align: center;
/*   flex: 2; */
}
.banner h1 {
  font-size: 7rem;
  font-weight: 900;
  text-align: center;
  display: inline;
/*   margin: 0; */
}
.banner h1::before {
  content:"I AM";
  vertical-align: top;
  font-size: 1.2rem;
  font-weight: 400;
  display: inline-block;
  background-color: #e82121;
  color: #e6c1d0;
  margin-right: 5px;
  padding: 1px 5px;
  transform: rotate(-30deg);
}
.banner span {
  display: block;
/*   position: relative;
  bottom: 15px; */
  font-size: 4rem;
  font-weight: 400;
  color: gray;
}
/* INFO SECTION card-info design */
.card {
/*   flex: 1; */
  flex-basis: 400px;
}
.card img {
  width: 85px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: #cccccc 0px 0px 7px 2px;;
}
.bio {
  text-align: justify;
  line-height: 1.5;
  color:#2d2d2d;
}
/* portfolio design */
.portfolio {
/*   padding:  80px 50px 0 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.portfolio h2 {
/*   margin-top: 0; */
  text-align: center;

}
.portfolio .showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
}
.portfolio .showcase .showcase-grid {

}
.portfolio .showcase .showcase-grid img {

}
/* contact me design */
.contact {
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact h2 {
  text-align: center;
}
.contact p {
  text-align: center;
}
.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.form h3 {
  text-align: center;
}
.form .contact-form {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
/*   flex: 1; */
}
.contacts {
/*   flex-basis: 35%; */
/*   flex: 1; */
}
.contact-form input {
  height: 30px;
  margin-bottom: 5px;
  padding: 0 0.5%;
}
.contact-form textarea {
  padding: 6px 1%;
  resize: none;
}
.contact-form button {
  width: 80px;
  height: 30px;
  font-weight: 700;
  color: #555;
  margin-top: 10px;
}
/* footer design */
footer {
  height:70px;
/*   margin-top: 5px; */
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
  align-items: center;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 30%;
  list-style: none;
  padding: 0;
}
footer ul li {

}
