/* reset */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin: 0;
}

/* header design */
header {
/*   background-color: white; */
  padding: 20px 50px;
  box-shadow: lightgrey 0 0 8px 0;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  flex-basis: 35%;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  text-transform: uppercase;
}
.logo {
  height: 60px;
}

/* INFO SECTION banner design */
.info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
  background-color: #fbfbfb;
  padding:  80px 50px 0 50px;
  height: 100vh;
}
.banner {
  padding-top: 20px;
  text-align: center;
  flex: 2;
}
.banner h1 {
  font-size: 7rem;
  font-weight: 900;
  text-align: center;
  display: inline;
/*   margin: 0; */
}
.banner h1::before {
  content:"I AM";
  vertical-align: top;
  font-size: 1.2rem;
  font-weight: 400;
  display: inline-block;
  background-color: #e82121;
  color: #e6c1d0;
  margin-right: 5px;
  padding: 1px 5px;
  transform: rotate(-30deg);
}
.banner span {
  display: block;
/*   position: relative;
  bottom: 15px; */
  font-size: 4rem;
  font-weight: 400;
  color: gray;
}
/* INFO SECTION card-info design */
.card {
  flex: 1;
}
.card img {
  width: 85px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: #cccccc 0px 0px 7px 2px;;
}
.bio {
  text-align: justify;
  line-height: 1.5;
  color:#2d2d2d;
}
/* portfolio design */
.portfolio {
  padding:  80px 50px 0 50px;
/*   height: 100vh;
  overflow: auto; */
}
.portfolio h2 {
/*   margin-top: 0; */
}
.portfolio .showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio .showcase .showcase-grid {
  
}
/* footer design */
footer {
  height:70px;
/*   margin-top: 5px; */
  display: flex;
  background-color: lightgreen;
  align-items: center;
}
footer ul {
  flex: 1;
}
footer ul li {
  display: inline-block;
  padding-right: 20px;
  transform: uppercase;
}
